@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
body{
  background-color: var(--bg-gray);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  white-space: normal;
  word-break: keep-all;
  object-fit: contain;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: var(--font-black);
}

:root {
  --main: #127c56;
  --sub-color: #eab64d;
  --font-main: #365331;
  --alert-green: #31a215;
  --alert-amber: #ef8523;
  --alert-red: #f14646;
  --font-black: #393939;
  --font-gray: #737373;
  --bg-gray: #f8f8f8;
  --pure-white: #ffffff;
  --line-black: #777777;
  --line-gray: #bababa;
  --line-light-gray: #ededed;
  --bold: 700;
  --medium: 500;
  --light: 200;
  --sub-font-size: 0.8rem;
  --sig-border-4: 4px 0px 4px 0px;
  --sig-border-8: 8px 0 8px 0;
  --sig-border-16: 16px 0px 16px 0px;
}

a,
input,
button,
select,
textarea {
  text-decoration: none;
  outline-style: none;
  color: inherit;
  border: none;
  background-color: var(--pure-white);
}
button {
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--line-light-gray);
  border-radius: 6px;
  resize: none;
  accent-color: var(--main);
}

input:focus,
textarea:focus {
  filter: drop-shadow(0px 0px 2px #127c56);
  color: var(--font-main);
}

textarea.content {
  height: 30vh;
}

input.border-none {
  outline: none;
}

input.checkbox-20 {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.width-100 {
  width: 100%;
}
.min-height-70 {
  min-height: 70px;
}
.popup-arrow {
  display: none;
}
.popup-content {
  margin-top: -26px;
  border: 1px solid var(--line-gray);
  /* padding: 4px; */
  background-color: var(--pure-white);
}

/* 아이콘 active */
.activeIcon span,
.activeStroke span {
  color: var(--main);
  font-weight: var(--bold);
}

.activeIcon svg {
  fill: var(--main);
}

.disableIcon svg {
  fill: var(--font-gray);
}

.activeStroke svg {
  stroke: var(--main);
  color: var(--main);
}

.disableStroke svg {
  stroke: var(--font-gray);
}

/* 폰트 색깔 설정 */
.font-gray {
  color: var(--font-gray);
}

.font-main {
  color: var(--font-main);
}

.font-alert-red {
  color: var(--alert-red);
}
.font-banner-main {
  color: var(--main);
}
.font-banner-forest {
  color: #568A35;
}
/* 폰트 두께 설정 */
.light {
  font-weight: 200;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

/* 폰트 크기 설정 */
.sub {
  font-size: 0.8rem;
}

.h5 {
  font-size: 1rem;
}

.h4 {
  font-size: 1.2rem;
}

.h3 {
  font-size: 1.4rem;
}

.h2 {
  font-size: 1.6rem;
}

.h1 {
  font-size: 1.8rem;
}

/* 텍스트 드래그 방지 */
.closedrag{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 마진 설정 */

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-36 {
  margin-right: 36px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-36 {
  margin-left: 36px;
}

.ml-54 {
  margin-left: 54px;
}

.ml--45 {
  margin-left: -45px;
}

.ml-50 {
  margin-left: 50%;
}

.pd-4 {
  padding: 4px;
}
.pd-8 {
  padding: 8px;
}
.pd-16 {
  padding: 16px;
}
.pd-24 {
  padding: 24px;
}
.pb-16 {
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 5px;
}

.sig-border16 {
  border-radius: 16px 0px 16px 0px;
}

.sig-border8 {
  border-radius: 8px 0px 8px 0px;
}

.sig-border4 {
  border-radius: 4px 0px 4px 0px;
}
.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: end;
}

.display-none {
  display: none;
}
.justify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.space-between {
  align-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 말 줄임 표시 */
.text-overflow2 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-overflow3 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and(max-width:1024px) {
  .display-none-from-tablet {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .display-none-pc {
    display: none;
  }
}

@media screen and(max-width:500px) {
  .display-none-mobile {
    display: none !important;
  }
}

.z-index-9999 {
  z-index: 1000;
}

.cursor {
  cursor: pointer;
}

.profile-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: rgb(148 163 184);
}

.input-file-button {
    padding: 6px 30px;;
    border-radius: 4px;
    cursor: pointer;
    height: 34px;
    margin-left: 2%;
    margin-top: 15px;
    color: var(--main);
    background-color: var(--pure-white);
    border: 2px solid var(--main);
    min-width: 173px;
    border-radius: var(--sig-border-16);
}